Hadoop2ByExample/src/examples/
Spark/SparkStreamingByExample/.attach_*
Spark/SparkStreamingByExample/checkpoint
**/*.iml
**/.idea/
**/target/
**/.settings/
**/.project
**/.classpath
**/.checkstyle
**/.gradle
**/build
**/dependency-reduced-pom.xml
